<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Feedit.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.tylerdlawrence.feeditrssreader</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>4</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Tyler Lawrence (ZJ28NRKT8A)</string>
		<key>Team</key>
		<string>7Z3Z6D3TH7</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2020-09-02T21:37:17Z</date>
	<key>Name</key>
	<string>Feedit</string>
	<key>SchemeName</key>
	<string>Feedit</string>
</dict>
</plist>
